@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    /* Paleta de cores */
    --preto: #000000;
    --vermelho: #e53939;
    --branco: #ffffff;

    --first-contente: #0f0f0f;
    --active: #d66363;
}

body{
    background-color: var(--preto);  
    flex-wrap: wrap;
    position: relative;
    top: 70px;

    & .container-header{
        position: fixed;
        background-color: var(--preto);
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        height: 70px;
        width: 100%;
        z-index: 100;
        box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;

        & .container-nav{
            width: 1240px;
            display: flex;
            justify-content: space-around;
            color: var(--branco);
            flex: 1 1 100vw;
            & .logo{
                text-decoration: none;
                font-size: 40px;
                font-family: "Righteous", sans-serif;
                color: var(--branco);
                & span{
                    color: var(--vermelho);
                    font-family: "Righteous", sans-serif;
                }
            }

            & #isida-bar{
                list-style: none;
                display: flex;
                justify-content: end;
                align-items: center;   
                z-index: 100;
                
                & a{
                    position: relative;
                    color: #fff;
                    text-decoration: none;
                    margin: 0 20px;
                    font-size: 20px;
                    padding: 20px 0;
                    
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 10px;
                    }
                    
                    &:hover::before{
                        animation: asideBar 60ms linear;
                        background-color: var(--vermelho);
                    }
               
                    &:active{
                        color: var(--vermelho);
                    }
                }
            }
        }
    }
}